[2020-05-22 21:41] darquezt opened #1 "Welcome!"
Hi! First of all, thanks a lot for making this library! I was about to do the same when I found this repo. I have been using Lottie a lot in my react native project and I wanted to use it also in my react projects.

I have a few questions though. Is there any particular reason of why naming the component Animator? I mean, I'd prefer the API to feel the same as when using lottie-react-native (where

[2020-05-22 23:00] Gamote commented on #1
Hi @darquezt,

I am glad that you find this library useful and thank you for your offer to help, feel free to send us more suggestions or MRs.

Also you've raised some good questions:
- we are already working on a new version which will export the Lottie view component as default
- the `useAnimator` hook will be the core of this library and it will be used mainly by the lottie component. Also the

[2020-05-24 17:49] Gamote commented on #1
v1.1.0

[2020-05-24 17:49] #1 closed

[2020-05-24 20:07] darquezt commented on #1
Hello again! thanks for the quick reply. I see know why the hook will be useful. However, I think the version you just released is not exporting `useLottie` 😱

I haven't been able to test it yet but by reading the code in the repo it looks like it is the case. Hope it helps!

[2020-05-24 20:16] Gamote commented on #1
Hi @darquezt,

It helped indeed! I've published a new version with the fix. Thank for the info!

[2020-05-26 09:54] flo-sch opened #2 "Forward options to lottie-web"
Hello,

Nice wrapper, thanks for providing it :)

Would it be possible to forward all options from `useLottie()` to lottie-web (despite the ones that need to be controlled by the hook such as `container`?)
https://github.com/Gamote/lottie-react/blob/master/src/hooks/useLottie.js#L172

For instance, lottie-web allows different renderers such as `'svg' | 'canvas' | 'html'` with optional `rendererSet

[2020-05-26 10:13] Gamote commented on #2
Hi @flo-sch,

You've made an interesting point.

As you saw already [(useLottie.js#L172),](https://github.com/Gamote/lottie-react/blob/master/src/hooks/useLottie.js#L172) we were thinking to implement it but we wanted to make sure that we tested all the use cases before we allow it.

I must say that we couldn’t find any problem, so giving your view on future-proofing we will gonna release a new ve

[2020-05-26 11:01] Gamote commented on #2
Implemented in [v1.1.2](https://github.com/Gamote/lottie-react/releases/tag/v1.1.2).

[2020-05-26 11:01] #2 closed

[2020-05-26 13:04] flo-sch commented on #2
Wow, godspeed @Gamote! Thanks for the super quick fix :)

[2020-06-12 00:39] cailborg opened #3 "TypeError: Cannot read property 'current' of null"
Not a huge deal, but it seems like `ref` seems to be a required prop. I was getting this error after following the docs unless I specified it, even though I have no need for interaction

[2020-06-12 11:46] Gamote commented on #3
@cailborg Thank you for reporting, this commits should fix the problem: [f7e8722](https://github.com/Gamote/lottie-react/commit/f7e872253ad71fd9c88182fb5b3d64f515f5dc6a) and [4745727](https://github.com/Gamote/lottie-react/commit/47457271a30ad95bcca0ff2f283b2fe9bb528c50).

[2020-06-12 11:47] #3 closed

[2020-06-12 12:00] Gamote commented on #3
@cailborg Thanks 👍. Fixed in [v1.2.2](https://github.com/Gamote/lottie-react/releases/tag/v1.2.2).

[2020-06-17 15:03] helloalicesmith opened #5 "typescript support?"
Where i can find "@types/lottie-react"?

[2020-06-20 02:17] Gamote commented on #5
Hi @helloalicesmith,

All the types are defined in the project so you don't need another package.

Currently, on the version published on **npm**, the types are not exported properly but thanks to @vdh (#4), Typescript will be fully supported with the next release.

[2020-07-08 14:23] Gamote commented on #5
@helloalicesmith This was solved in the **v2.0.0** release.

[2020-07-08 14:24] #5 closed

[2020-09-10 05:41] paambaati opened #10 "Cannot use ref methods"
**Describe the bug**
I'm trying to use the `goToAndPlay` method on an animation, and it errors out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-lottie-tryout-drhon?file=/src/App.tsx:1241-1252
2. Click on the 'Complete' button for the animation to skip to the 120th frame.
3. Watch that it throws an error on clicking the button.

**Expected behavior**
I

[2020-09-10 06:10] DaniAkash commented on #10
`lottieRef` prop only works on the `Lottie` component. It cannot be used on the `View` returned by `useLottie` hook. I have changed the code in the given codesandbox to use the `Lottie` component. It fixes the issue ✌🏽

[2020-09-10 06:17] paambaati commented on #10
Thanks @DaniAkash!

[2020-09-10 06:17] #10 closed

[2020-09-23 15:20] jamiehaywood opened #11 "Add props from Lottie component to underlying div container"
**Is your feature request related to a problem? Please describe.**
If I give the `<Lottie />` component props, I would like to be able to add standard div props and for them to be injected into the underlying `<div>` container.

_Example:_
[code]

**Describe the solution you'd like**
You could extend `LottieOptions` type to include`React.HTMLProps<HTMLDivElement>` and then inside the hook on L39:

[2020-09-24 21:31] jamiehaywood commented on #11
@Gamote sorry to pester - any chance of merging & publishing this? I'm waiting on this fix for work 😕

[2020-09-25 02:31] Gamote commented on #11
Hi @jamiehaywood,

Yes I will merge it and publish it until the end of the day.

[2020-09-25 14:29] Gamote commented on #11
@jamiehaywood This changes were published on NPM under the [v2.1.0](https://github.com/Gamote/lottie-react/releases/tag/v2.1.0) release.

[2020-09-25 14:29] #11 closed

[2020-09-25 15:03] jamiehaywood commented on #11
Many thanks @Gamote.

[2020-10-01 12:31] ericvrp opened #13 "initialSegment runs whenever the component rerenders instead of only once"
I have an animation that should start by playing some segments and then waits for onmouseenter and onmouseleave to play other segments. My problem is that when I supply initialSegment that animation gets played every time the component renders and not just the first time.

This looks like a bug.

My code

[code]

This also happens with useLottie

[2020-10-01 12:55] ericvrp opened #14 "onDataReady does not get called"
Are onDataReady and all others implemented? Because of #13 I am looking for a way to run the initial animation only once and was hoping to use `onDataReady={()=>lottieRef.current.playSegments(initialSegment)}` do do just that.

My code does not get exectued though.

onDOMLoaded and onEnterFrame seem to be implemented

[2020-10-23 08:26] fwh1990 opened #15 "[Suggestion] Parse lottie json from network"
I have some lottile files uploaded by users, they are on the server side, so I hope that you can provide a property to receive url. The truth is `animationData` is required.

BTW, I'm using typescript, `prop-types` is really unnecessary for me. So why don't you put `prop-types` to dependencies instead of devDeps?

[2020-10-23 08:29] fwh1990 commented on #15
https://github.com/chenqingspring/react-lottie/issues/93#issuecomment-546046461

[2020-10-25 17:36] Gamote commented on #14
Hi @ericvrp,

`data_ready` event is implemented in the same way as `DOMLoaded`, it must be a problem inside `lottie-web`.

[2020-10-25 17:58] Gamote commented on #13
Hi @ericvrp,

It seems that this is not the behavior intended by `lottie-web`. They've added `initialSegment` to start, and continue, with the specified segment. It's not intended to play just it one time.

I may be wrong, but you can ask them or try to implement their library in pure JS to verify this info. Here are some resources:
- https://github.com/airbnb/lottie-web/wiki/loadAnimation-options

[2020-10-25 18:00] #14 closed

[2020-10-25 20:39] ericvrp commented on #13
For non-component based code this would make sense however in React I think it would work better if the internal state of lottie-would not react. It is basically the same when I have an video playing in my component. If the internal state of my component changes are my component rerenders it would be odd if the video restarted.

[2020-10-25 21:42] Gamote commented on #13
@ericvrp it makes sense. Please add a full example in CodeSandbox and describe the actual/expected behavior and I will have a look.

[2020-10-25 21:44] Gamote commented on #13
@ericvrp That makes sense. Please add a full example in CodeSandbox and describe the actual/expected behavior and I will have a look.

[2020-11-02 17:06] n0uki opened #16 "animationData shouldn't be required"
Hi,
the animationData property shouldn't be mandatory since we can only use the path property.
Lottie documentation states that only one of two should be required.
https://github.com/airbnb/lottie-web/wiki/loadAnimation-options#path-or-animationdatamandatory-at-least-one

Path is easier to use since it doesn't require to import the json file.
Please consider to change that in future release :)

[2020-11-13 01:40] Zaynex opened #17 "Can't work if set ref in useLottie"
**Describe the bug**
Can't work if set ref in useLottie.

**To Reproduce**
[code]

**Expected behavior**
Can get ref and useLottie work.

**Screenshots**
https://codesandbox.io/s/lottie-react-hook-forked-jgcfb?file=/src/App.js:146-502

**Packages**
- React: 16.13.1
- React-DOM: 16.13.1
- lottie-react: 2.1.0

[2020-11-27 18:55] ivanjeremic opened #19 "playSegments does not stop when it comes to last frame"
My playSegments looks like this

[code]

but it plays without stopping.

What I want is just play on a button click to a specific frame and stop there. Did I something wrong?

[2020-11-27 21:37] Gamote commented on #19
Hi @ivanjeremic,

Please create an example on [CodeSandbox](https://codesandbox.io) and I will have a look.

[2020-11-28 00:02] ivanjeremic commented on #19
Adding the `initialSegment` solved the issue however I have issues now with sizing the svg is there any lottie-react discord or slack so I don't need to open new issues? thanks

[2020-11-28 00:04] Gamote commented on #19
@ivanjeremic No, but I'm working on the v3 and with that I will open a Discord or Slack account.

[2020-11-28 00:05] Gamote commented on #19
@ivanjeremic No, but I'm working on the v3 and with that I will open a Discord or Slack account. Thank you for suggesting and star this repo if you find it useful. 😄

[2020-11-28 00:09] #19 closed

[2020-11-28 01:44] Gamote commented on #16
@n0uki Noted, this will be added in the v3.

[2020-11-28 01:45] Gamote commented on #15
@fwh1990 This will be added in v3

[2020-11-28 11:52] ivanjeremic opened #20 "Change viewBox and width/height from lottie-react?"
Is there any lottie-react way of changing the svg viewBox and width/height?

Or do I need to get the element by tag and change it the non react way?

The reason I need to change this I want my svg to be 100vh on every device but somehow with the lottie styles only this is not possible, but I would be happy about any suggestion. Thanks

[2020-11-28 21:12] Gamote commented on #17
Hi @Zaynex, thank you for taking the time to report this. Indeed, there is a bug if you pass the `ref` property to `useLottie` because the internal `ref`, which is passed to Lottie, is overridden. This will be fixed in the next version (`v3`).

I would also like to mention that after the bug is fixed the presence of `ref` will do nothing as you already have the **interaction methods** if you want

[2020-11-28 21:17] Gamote commented on #20
@ivanjeremic That should be the default behaviour of Lottie. Please create an example in [CodeSandbox](https://codesandbox.io) and I will try to come up with a solution starting from your current state.

[2020-11-28 23:16] ivanjeremic commented on #20
Thanks, Editing the JSON helped me solving this, because I get the JSON from a designer and I have no access to the build process of the animation which is also the reason to find a way for element interaction, so some Circle that looks like a button in the svg which I can target from inside React for button clicks.

What would be the lottie-react way of doing this? Does the designer need to add w

[2020-11-28 23:27] Gamote commented on #20
@ivanjeremic While there's no direct/predefined way to do this in `lottie-react` I think you can achieve this by using the `useLottie` hook to get access to the animation instance. From there you have full access to the Lottie object which could give you some methods that may be helpful (e.g. `renderer`).

Search for similar questions to [this](https://stackoverflow.com/questions/51015882/can-i-ad

[2020-11-29 01:26] ivanjeremic commented on #20
The Stackoverflow helped me to find the `renderer` in `animationItem` but still the `DOMLoaded` eventListener does not work it is undefined even if I put it in a `useEffect` and there is no description in the Docs how to use `DOMLoaded` correctly in react maybe you have a hint for me? Thanks

[2020-11-29 01:47] Gamote commented on #20
@ivanjeremic For me `DOMLoaded` event is working just fine: https://codesandbox.io/s/lottie-react-hook-forked-c0fed. Regarding the other issue, **please** recreate it in **CodeSandbox** so I have a concrete example.

[2020-11-29 01:49] ivanjeremic commented on #20
I edited my issue hope you saw the edit section, but regardless I will tomorrow create a codesandbox for you so you can see it.

[2020-11-29 02:01] ivanjeremic commented on #20
The CodeSandbox was easier to make then I thought, I used the example for element interaction from your StackOverflow link and combined it with a fork of your CodeSandBox [https://codesandbox.io/s/lottie-react-hook-renderer-problem-qv4lt?file=/src/App.js](https://codesandbox.io/s/lottie-react-hook-renderer-problem-qv4lt?file=/src/App.js)

[2020-11-29 02:09] Gamote commented on #20
You get undefined because you've used `lottieAnimation` instead of `animationItem`: [CodeSandbox](https://codesandbox.io/s/lottie-react-hook-forked-c0fed?file=/src/App.js)

[2020-11-29 02:18] ivanjeremic commented on #20
Thanks really my mistake, the API is so hard to parse, but `baseElement` does not react to clicks do I miss here something?

[2020-11-29 02:24] Gamote commented on #20
I don't know to be honest because I didn't explored this use case. I will recommend you to ask on `lottie-web` repo as you have access to the Lottie instance or to create a future request so we don't go to much of track.

Currently I'm working on `v3` so the response may be slow, but I can assure you that I will look into this for the new version.

[2020-11-29 02:26] ivanjeremic commented on #20
Thanks hope V3 will have more APIs for the React usage like some hooks for click events for specific Elements

[2020-11-29 02:27] #20 closed

[2020-11-29 05:34] Zaynex commented on #17
I want  control the lottie element custom css transform.
It works if I add parent element for `View`.
`<div>{View}</div>`

[2020-11-29 11:11] Gamote commented on #17
@Zaynex you can't use `ref` as it's reserved for Lottie. In order to change the styling, you can use the second param of the `useLottie` hook like this:
[code]

For any other `div` property, you can use directly the `options` object. In the `v3` everything will be unified under a `containerProps`.

[2020-12-27 23:13] ivanjeremic commented on #13
I have a problem that is related to this I think, I want to keep my initialState in React useState and change it on demand but somehow the `onDomLoaded` doesn't let mit set the state inside the `onDomLoaded`, has anyone an idea why I can't have a dynamic `initialSegment`?

[2021-01-21 12:42] ben4d85 opened #29 "Support for React 17"
**Describe the bug**

Does not appear to work with React 17 for me.

**To Reproduce**

Steps to reproduce the behavior:

1. Type npm i lottie-react
2. Get an error

**Expected behavior**

 Not get an error.

**Additional context**

Error message in console when trying to install via npm:

[code]

[2021-01-21 13:43] Gamote commented on #29
Hi @ben4d85, thank you for reporting this.

I will add support for React `v17` within the `v3` of this library. Currently I don't have a lot of time but I will publish it soon enough.

[2021-01-21 13:46] ben4d85 commented on #29
Hi @Gamote, thank you for your reply!

I am afraid I need a Lottie library I can use with React for a client project due next week. Appreciate that the fix might take you longer, so in the meantime, is there any other library you can recommend?

[2021-01-21 13:50] Gamote commented on #29
@ben4d85 I don't know any stable React implementation at the moment. I guess you can try to make it work with the library provided by **LottieFiles**.

[2021-01-26 13:56] ben4d85 commented on #29
If anyone else has the same problem, I ended up just using https://github.com/airbnb/lottie-web directly.

Works fine.

[2021-01-26 14:11] Gamote commented on #29
If you want a non-React implementation it is a good idea to use the lottie-web directly. I will let you know when v3 is out.

[2021-01-28 09:41] superdumb93 opened #30 "Cannot pass number value to loop prop"
**Describe the bug**
I get this typescript error when I pass a number value to loop prop of Lottie component.
[code]

**To Reproduce**
`<Lottie loop={3} />`

**Expected behavior**
Error should not occur.

**Screenshots**
None

[2021-01-28 09:43] xiaohong14 commented on #30
The reason was related with this line in the codebase.
`export type LottieComponentProps = LottieOptions &
  React.HTMLProps<HTMLDivElement> & {
    interactivity?: Omit<InteractivityProps, "lottieObj">;
  };`

React.HTMLProps already has the same loop prop, so it was replacing the LottieOptions['loop'] prop.

[2021-03-12 09:56] jackgraves commented on #29
Hi @Gamote, we use your package in quite a few of our Apps and it's really handy!
Do you have an update on when React 17 support will be available?

[2021-03-14 20:36] Gamote commented on #29
Hi @Gamote,

Thank you for using this library. 💪

This issue is one of my top priorities, but sadly I am a bit busy until the end of March with my job.
Soon after I will publish the `v3` which will contain a lot of cool things, including support for React 17, remote `.json` files, player controls, bug fixes and many more.

[2021-03-15 08:46] jackgraves commented on #29
Thanks @Gamote for your response.

That timeframe is completely reasonable - appreciate your time 🥇

[2021-03-25 19:35] iqbal125 commented on #29
@Gamote Hello thank you for this library. Your package has made life easier for a lot of people.

Would it be possible to just upgrade to React 17 before a v3 upgrade? To be honest React 17 doesnt not introduce many breaking changes, I have looked through your source code and it should just be a quick and straight upgrade.

Would be really cool if you would be open to this, but I would understand

[2021-03-25 19:49] iqbal125 commented on #29
For anyone else looking for a solution for this, I ended up just doing npm i lottie-react --force.

Its working perfectly for my simple use case because as mentioned React 16.8 => React 17.0 doesnt have many breaking changes.

[2021-04-12 02:47] rustom commented on #29
Same works for me in the meantime, thanks @iqbal125!

[2021-04-19 22:12] cZeaushe opened #32 "Lottie animations bottleneck the DOM"
There's a weird issue with Lottie animations in React/Gatsby. I've tried many plugins like _react-lottie, lottie-react, lottie-web etc_. They all start bottlenecking the dom while navigating back and forth pages.

I've made an example with the issue: https://elegant-aryabhata-490c95.netlify.app/ If you navigate between the pages **Go to page 2** and **Go back to the homepage**, soon enough the DOM

[2021-07-08 08:23] mcmxcdev opened #33 "Decrease bundle size impact by using lottie light"
**Describe the solution you'd like**
Use the lottie light variant like described here: https://github.com/airbnb/lottie-web/issues/1184#issuecomment-703324484

[2021-07-08 08:56] Gamote commented on #33
@mhatvan We'll have a look over this, as we need to make sure that no missing functionality will affect the current implementation.

Do you know specifics about what's left out from the light version?

[2021-07-08 11:27] mhatvan commented on #33
You can read about it here: https://github.com/airbnb/lottie-web/issues/929
Will require some testing with all different permutations of settings to really know.

[2021-07-08 16:32] iceman121212 opened #34 "What is correct approach to having two animations on a single page, when using "useLottie" hook?"
**Describe the bug**
Unable to have two animations on a single page, using two calls to ```useLottie```

**To Reproduce**
https://codesandbox.io/s/lottie-react-hook-forked-rtwqp?file=/src/App.js

**Expected Behavior**
Would have expected there to be two instances of the animation on this page.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome
 - Version

[2021-07-09 10:31] Gamote commented on #34
@iceman121212 Hmm, this sounds like a bug. I will try to fix it soon.

[2021-07-09 10:34] Gamote commented on #32
Hi @cZeaushe, can you please recreate the issue in CodeSandbox?

[2021-07-09 16:08] cZeaushe commented on #32
I already sorted it out. It turns out to be a memory leak and happens if some of the Lottie animations us a **'repeater'**. All I had to do was `JSON.parse(JSON.stringify(data))` the animation json file and the problem was solved!

[code]

[2021-07-09 16:10] Gamote commented on #32
@cZeaushe good to hear that you sort it out. 👍🏼

[2021-07-09 16:10] #32 closed

[2021-07-28 05:27] iangregsondev opened #36 "Recommended implementation for React and lottie-web with typescript ?"
Hi,

I have been trying to find a typescript implementation and came across this, I found quite a few that's been abandoned.

I was wondering if this is still under development and maintained?

Or is there an alternative I should be looking at.

Thanks in advance!

[2021-07-28 06:11] Gamote commented on #36
Hi @iangregsondev, this package is still maintained. As was mentioned in other issues, we are trying to release the `v3` soon. We’ve been a bit busy with our 9 to 17 jobs but I can assure you that soon enough we are going to update the package.

Thank you for your interest in the package.

[2021-07-28 06:12] iangregsondev commented on #36
Great stuff! Thanks.. Closing this now, going to have a play. Thanks again.

[2021-07-28 06:12] #36 closed

[2021-08-02 06:17] fokysland commented on #34
It's not a bug, there's a mistake in your code: `const { View2 } = useLottie(options);`
useLottie returns an object with key View, but not View2. If you rewrite your code like this: `const { View : View2 }  = useLottie(options)`, it works

[2021-08-02 06:20] #34 closed

[2021-08-06 11:04] mhatvan commented on #33
Any news on this?

We currently lazy-load react-lottie to keep the first load impact smaller, but switching to light version would be even better for every user.

[2021-08-10 11:19] yoanad commented on #30
Is there any workaround for that?

[2021-09-15 14:37] davulrich opened #37 "Interactivity mode give an ts error when use semicolon on property "mode""
**Describe the bug**
When you define interactivity const with property mode ('scroll' or 'cursor'), typescript display an error on Lottie component property interactivity - "Type 'string' is not assignable to type '"cursor" | "scroll"'."

**Expected behavior**
TS shouldn't display and error. Because the string is typed correctly.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-09-21 12:33] davulrich commented on #37
I temporary solved it by creating own interface like this:

[code]

[2021-09-23 10:06] ivanteso opened #38 "Change animation quality"
Hello there! I've used this wrapper in quite many different projects and everything was pretty smooth. Lately, I've noticed some performance issues affecting some animations, so I'm trying to improve them.

According to the [official `lottie-web` documentation](https://github.com/airbnb/lottie-web#additional-methods), it should be possible to use the global `.setQuality()` method, which should hel

[2021-11-17 13:44] mosusky commented on #29
You can try library from LottieFiles https://github.com/LottieFiles/lottie-react - work fine for me (React 17)

[2021-11-18 00:31] heath-freenome commented on #29
@Gamote I will +1

I will +1 this... Probably would take about 30 minutes of work... Especially since there hasn't been any activity around v3...

[2021-11-25 01:53] migsdeving opened #40 "Enabling Container param on useLottieInteractivity"
**Is your feature request related to a problem? Please describe.**
Yes, I want to make a lottie play with scroll but instead of listening to the lottie container's viewport, I want it to follow a different container. This is included on Lottie Interactivity as they show here: Lottie scroll relative to container (https://lottiefiles.com/interactivity)

**Describe the solution you'd like**
The solut

[2021-11-30 10:41] Gamote commented on #29
Hey @heath-freenome I know a lot of people requested a fix for this and I am trying a lot to find some time to work on the `v3`, but it's a bit complicated at the moment with my current job.

From outside it might look just as 30 min. but there are other implications than just changing some code lines. I always encourage people to contribute if they really really need a fix/feature.

For example,

[2021-11-30 17:43] heath-freenome commented on #29
@musayann @Gamote Yay for the work on getting React 17 in! Good job. And Gamote, I understand your situation. I apologize if I made it seem trivial, it seems, from looking at #41 that it was more work than just updating the React version. Thanks for your hard work.

[2022-01-07 19:03] SpeedOfSpin commented on #29
**npm install --legacy-peer-deps** will also work. Earlier versions of NPM treated invalid peer dependencies as a warning instead of an error. The -force switch forces everything to redownload again so I think using the legacy switch might be a better approach until we get the upgrade.

[2022-01-10 08:25] NitayRabi opened #42 "Passing interactivity adds another wrapping div that might break styling"
**Describe the bug**

There's Inconsistent rendering behavior when passing `interactivity` prop - Another wrapping div is rendered, preventing passing relative sizes to through `style` or `className` prop (The wrapping div is rendered [here](https://github.com/Gamote/lottie-react/blob/main/src/hooks/useLottieInteractivity.tsx#L262), so passing 100% to width/height wouldn't be applied correctly)

*

[2022-01-10 08:37] Gamote commented on #42
@NitayRabi Thank you for reporting this. Yes you're right, it's on my todo list for the next version.

[2022-01-10 17:51] jordanlambrecht opened #43 "Type 'number[][]' is not assignable to type 'AnimationSegment | AnimationSegment[]'."
I'm using react, nextjs, and typescript. My lottie component plays the first 23 frames once, followed by the rest of the frames on a loop. I send an array to the prop 'segments'. Everything renders totally fine, but linting returns this error:
[code]

Here's my code:
[code]

Like I said, it's not breaking anything. It is, however, driving me crazy when I go to lint everything prior to production.

[2022-01-10 19:03] jordanlambrecht commented on #43
here's the full warning:

[code]

[2022-01-10 19:12] #43 closed

[2022-01-10 21:02] Gamote commented on #43
@jordanlambrecht While you’re here, is there anything specific that you need and can’t be found in `lottie-react`? I am currently working on the `v3` and I am trying to gather as much feedback as I can.

[2022-01-10 21:13] jordanlambrecht commented on #43
Let me think on that! I was originally using lottie-react but there was a very specific reason why I could get it to work. I'll dig through my commits and see if I can remember what that reason was. Thanks for being a maintainer that cares about feedback <3

[2022-01-16 09:40] BierDav commented on #29
Still get the same error. Why is that?

[2022-01-16 17:38] Gamote commented on #29
Hey guys (@ben4d85 @jackgraves @iqbal125 @rustom @mosusky @heath-freenome @SpeedOfSpin @BierDav)

This issue is solved in the new [v2.2.0](https://github.com/Gamote/lottie-react/releases/tag/v2.2.0) version. Sorry for the long waiting time.

[2022-01-16 17:38] #29 closed

[2022-01-16 19:12] Gamote commented on #33
Hey @mhatvan, I am currently working on this task. Your title says `decrease bundle size` and one of your later messages states that `A flag to use either or might also make sense, so its up to the user!`.

I was thinking to create the following
- instead of just `Lottie` have 2 component: `Lottie` (full version) and `LottieLight` (light version)
- instead of just `useLottie` have 2 hooks: `useLot

[2022-01-17 13:58] raimohanska opened #47 "The `container` property incorrectly required in Lottie component props"
In version 2.2.0, the TypeScript type `LottieOptions` inherits from `AnimationConfig` (part of lottie-web) which has a require `container` property of type `Element`. This seems like a typing bug to me.

[code]

[2022-01-17 14:48] Gamote commented on #47
Hey @raimohanska thank you for reporting, I will take care of it today.

[2022-01-17 14:54] raimohanska commented on #47
Great! No hurry here and thanks for your great work. Let me know if u need help with testing or anything.

[2022-01-18 01:38] Gamote commented on #37
Hey @davulrich thank you for taking the time to report this. Using your configuration I am not able to recreate the error. Do you still encounter this issue?

[2022-01-18 01:44] Gamote commented on #42
Hey @NitayRabi, this bug was fixed in [v2.2.1](https://github.com/Gamote/lottie-react/releases/tag/v2.2.1).

[2022-01-18 01:44] #42 closed

[2022-01-18 01:49] Gamote commented on #47
Hey @raimohanska, this bug was fixed in [v2.2.1](https://github.com/Gamote/lottie-react/releases/tag/v2.2.1).

[2022-01-18 01:49] #47 closed

[2022-01-18 10:36] thijs-feel opened #48 "Animation always plays at least twice"
**Describe the bug**
When playing an animation the first loop is not 'registered' by the library.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh react app using create-react-app and install lottie-react
2. Add a Lottie component to the app and subscribe to the onLoopComplete callback
3. Start the server and play the animation
4. Error: Only starting from the second time the a

[2022-01-18 11:24] davulrich commented on #37
Hi @Gamote , I wrongly explained in the description so I will try it now better again.

I need to assign a correct type to interactivity constant or TS will yell at me that interactivity prop is wrongly typed.

So I tried to import type InteractivityProps from lottie-react:
[code]
And TS showed me an error, but in docs there is no info regarding lottieObj property.
![image](https://user-images.git

[2022-01-18 11:53] MilanPoznan commented on #48
I had the same issue, you can use previous version 2.1. So in package.json just remove ^ so you can set
 "lottie-react": "2.1.0", just without ^.
 Hope that this will help

[2022-01-18 12:25] Gamote commented on #48
Hey @thijs-feel and @MilanPoznan for the input. I will have a look.

[2022-01-18 13:35] EngHosam opened #49 "type script error ( Property 'container' is missing )"
Property 'container' is missing in type '{ className: string; animationData: any; }' but required in type 'AnimationConfig<"svg">'.

[2022-01-18 15:54] Gamote commented on #49
@EngHosam Please let me know which version you're using.

Also this problem was solved in [v2.2.1](https://github.com/Gamote/lottie-react/releases/tag/v2.2.1). Please check that out and let me know if you still encounter this issue. 🙂

[2022-01-18 16:46] EngHosam commented on #49
yes, problem in current version
in `lottie-web` lib --> `index.d.ts` --> `AnimationConfig` --> `container: Element;` is required

[2022-01-18 17:36] Gamote commented on #49
@EngHosam The only place where we're using the `AnimationConfig` (through `AnimationConfigWithData`) is in the `LottieOptions` type where we exclude the `container`. So I am not able to recreate the bug.

[code]

Can you provide an example of usage?

[2022-01-18 17:39] EngHosam commented on #49
The error occur with typescript , when use Lottie component , I don't need to set container prop
`<Lottie container (is required ) />`

[2022-01-18 17:45] Gamote commented on #49
Using version `2.2.1` and `<Lottie animationData={....} />` I get no TypeScript errors.

[2022-01-18 17:47] EngHosam commented on #49
Ok , I will retry , may be I need to invalidate cache and reinstall it ..

[2022-01-18 17:49] Gamote commented on #49
Sometimes, the IDEs sends false positives after updating a library. I know WebStorm does. So yeah, please try to restart the IDE, clear the cache and try again. Please let me know, I will do my best to help you.

[2022-01-19 13:54] thijs-feel commented on #48
I can confirm that the bug does not seem to happen on 2.1.0 @MilanPoznan Thanks for the tip!

[2022-01-19 14:21] EngHosam commented on #49
Thank you, Solved

[2022-01-19 14:21] #49 closed

[2022-01-19 16:16] MilanPoznan commented on #48
@thijs-feel Cool, no problem!

[2022-01-25 17:23] drager commented on #48
Happens for me in `2.2.x` as well. `2.1.0` works fine.

[2022-01-26 02:26] reptar25 opened #50 "Interactive scroll animation stops"
**Describe the bug**
The animation stops if the animation container position is 'sticky', but the animation only stops while the container is stuck.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The animation should continue playing while the user is scrolling.

**Additional context**
[Code sandbox example](https://codesandbox.io/s/lottie-react-hook-forked-ut3vi?

[2022-02-03 11:04] raimohanska commented on #48
Stumbled upon this issue as well. Here's a [Code sandbox](https://codesandbox.io/s/lottie-animation-example-15i53?file=/src/App.tsx) for reproduction, in case it helps. I reverted to 2.1.0 as a workaround for now.

Thanks for the great library!

[2022-02-03 12:04] Gamote commented on #48
Thank you @raimohanska for the example, very helpful. It will be fixed in the next release.

[2022-02-14 18:48] jonybekov commented on #15
Still not implemented?

[2022-02-16 00:08] MauriceArikoglu commented on #33
Bump. Also very interesting for us. Can I maybe help?

[2022-02-16 09:43] MauriceArikoglu opened #52 "v3 Roadmap / prerelease?"
What's the current Roadmap for v3 and when can we expect a prerelease version for testing? Can we support?

[2022-02-17 09:29] Gamote commented on #52
Hi @MauriceArikoglu, thank you for your interest in `lottie-react`. `v3` is almost done. These are the things that are left
- new interactivity functionality;
- determine the final configs available to the consumers;
- rewrite the documentation.

You can check the progress on the `v3` branch. Soon we will publish the `3.0.0-beta.0` on npm so everyone can test it. Once that is done, your feedback w

[2022-02-17 14:20] davidstellini commented on #40
Bumping this up - I got blocked on this and have no idea what I can do to go around it, trying to figure out some hack

[2022-02-17 15:14] davidstellini commented on #40
For anyone else struggling with this - here was my hack / workaround after looking into the source code.

[code]

[2022-02-23 12:41] lettie16 opened #53 "Style options not being applied to container <div>"
**Describe the bug**
Adding style to the Lottie does not appear to apply the styles to the container div.

**To Reproduce**
Steps to reproduce the behavior:
1. `https://codesandbox.io/s/lottie-react-hook-13nio?file=/src/App.js`
2. Apply the following code in place of existing:
[code]
3. Inspect the Lottie container div and you will see no width or height style is applied.

**Expected behavior**
Ap

[2022-03-10 23:05] milts10 commented on #29
Sorry guys but I don't understand how to use this? I still have the same problem

How do I use V2.2.0 during the installation and bypass this problem?

[2022-03-17 11:48] hanayashiki commented on #48
when will you do the next release?

[2022-03-18 15:39] arnoutj commented on #48
Happened to us as well and we can't revert to `2.1.0` as we are using React version 17

[2022-03-23 13:05] clucasalcantara commented on #40
Hi @davidstellini ! Could you pls share your code? Struggling to make that work too :(

[2022-03-29 08:57] Durgarao-Workathon commented on #29
install with yarn add react-lottie

[2022-03-31 07:26] Gamote commented on #29
Hey @milts10, please share a screenshot with your error and the the exact command that you're using to install it. Also, do you already have an older version of `lottie-react` installed? If yes, which one?

@Durgarao-Workathon that command will install a different library, if you still want to use this library, you will have to use:
[code]

[2022-04-03 16:48] M4tT3d opened #55 "Change preserveAspectRatio property of SVG"
How can I change the preserveAspectRatio property?
If it is not possible, it would be nice to have this feature. In lottie-web is possible.
Thanks

[2022-04-04 04:41] Gamote commented on #55
Hey @M4tT3d

Send an example (e.g. CodeSanbox) on how you do it in lottie-web I'll have a look.

[2022-04-12 00:43] jcontonio commented on #48
Same here... can't revert, it's playing twice even if I try to keep track of how many times it's played in a ref.

[2022-04-14 14:12] johntvogt opened #56 "Animation Hover Support"
**Describe the bug**
There is no way to support having a hover effect, Lottie images can have a hover effect as seen in the below:
[](https://foxo-dev-animation-assets.s3.amazonaws.com/Chronological-Age-Finals-v3.5-Mobile.html)

**Expected behavior**
There should be a way to add a hover prop so that when hovered it will replay a portion of the animation as described in the Lottie JSON file, this i

[2022-04-22 05:45] johnchourajr commented on #48
+1 on this bug, having the same issue.

[2022-05-10 08:38] ndcollins commented on #48
+1 on this bug. React 18 gives the following warning:

Warning: componentWillUpdate has been renamed, and is not recommended for use. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* Rename componentWillUpdate to UNSAFE_componentWillUpdate to suppress this warning in non-strict mode. In React 18.x, only the UN

[2022-05-12 19:31] draperj commented on #48
Ran into this issue as well. Occurs on first play but not subsequent plays on ver 2.2.1. Confirmed fine in 2.1.0.

[2022-05-13 05:38] tkmin opened #59 "How to use Interaction Methods?"
Hello, thank you for this awesome library!
I just want to know how to implement these Interaction methods to Lottie Component!

does anyone know how to or have any example about this?

Thanks in advance.

![Screen Shot 2022-05-13 at 2 34 10 PM](https://user-images.githubusercontent.com/83566566/168217954-59e9962b-f90b-4215-8633-211cdbfedc2d.png)

[2022-05-13 07:18] #59 closed

[2022-05-17 13:09] clempat commented on #48
I was taking a look into this issue and saw that this happening due to resetting the segment there: https://github.com/Gamote/lottie-react/blob/main/src/hooks/useLottie.tsx#L224

I am not sure what would be the implication of not doing this reset. But the animation run once, then there is this reset then the animation run a second time.

[2022-05-20 16:20] lucasrivoiro commented on #48
+1 on this bug. Please, make a fix for this bug. I cant revert to 2.1.0 because my react lib is in version 17

[2022-05-22 09:57] ranaharoni opened #61 "Support for React 18"
**Describe the bug**

Does not appear to work with React 18.

**To Reproduce**

Steps to reproduce the behavior:
1. Setup a project using React 18
2. Run `npm install lottie-react`

**Expected behavior**

Should install without issues.

**Additional context**

[code]

[2022-05-25 18:18] ahmedkhederali commented on #61
i have the same error any solution?

[2022-05-26 20:32] fviazzi commented on #61
For me, I had to use this command:

[code]

[This post](https://stackoverflow.com/questions/66239691/what-does-npm-install-legacy-peer-deps-do-exactly-when-is-it-recommended-wh) explains the flag. Doesn't seems to have any impact for this module

[2022-05-29 13:14] ranaharoni commented on #61
PR #58 should solve this. Waiting for it to get reviewed and merged.

[2022-06-13 23:51] StephenEsser opened #63 "Large Memory Leak"
**Describe the bug**
The lottie-react animations are causing large memory leaks. We use multiple animations on a single page within our application. These animations are routinely unmounted and remounted. This leak eventually causes an out of memory browser crash over the course of several hours while our application is running. There is something within the lottie animation not being cleaned up.

[2022-06-15 10:09] Gamote commented on #61
@ranaharoni @ahmedkhederali @fviazzi @tan-zx the issue was fixed in the `v2.3.0` [release](https://github.com/Gamote/lottie-react/releases/tag/v2.3.0).

[2022-06-15 10:09] #61 closed

[2022-06-21 03:06] usercao commented on #48
+1 on this issue

[code]

@Gamote  When is the problem expected to be fixed? The problem is very serious.

[2022-06-21 09:17] AhsanSarwar45 commented on #48
➕ on this bug.
[code]

[2022-06-21 22:09] carl0shd commented on #48
+1

[2022-06-21 22:28] jgalianoz commented on #48
+1

[2022-06-22 21:57] #53 closed

[2022-06-22 23:25] Gamote commented on #37
Hi @davulrich you can do the following:
[code]

[2022-06-22 23:25] #37 closed

[2022-06-22 23:33] #17 closed

[2022-06-22 23:36] Gamote commented on #63
Hi @StephenEsser thank you for taking the time to report this and add the necessary details in order for me to reproduce it. I will take care of it tonight.

[2022-06-22 23:40] Gamote commented on #52
Closing inactive issue. Please re-open if this require more information.

[2022-06-22 23:40] #52 closed

[2022-06-23 01:26] Gamote commented on #63
This issue was fixed in [`v2.3.1`](https://github.com/Gamote/lottie-react/releases/tag/v2.3.1).

[2022-06-23 01:26] Gamote commented on #48
This issue was fixed in [`v2.3.1`](https://github.com/Gamote/lottie-react/releases/tag/v2.3.1).

[2022-06-23 01:26] #48 closed

[2022-06-23 01:27] Gamote commented on #30
This issue was fixed in [`v2.3.1`](https://github.com/Gamote/lottie-react/releases/tag/v2.3.1) by @mattvague.

[2022-06-23 01:27] #30 closed

[2022-06-23 08:05] M4tT3d commented on #55
Hi @Gamote I didn't received the notification of the previous message. I found this example online. I hope yuo'll find it useful
[example](https://codepen.io/sandstedt/pen/vKWzWE)

[2022-07-05 14:54] irangarcia opened #65 "Wrong type for LottieComponentProps"
**Describe the bug**

Adding a path prop to the Lottie component is giving me a type error saying the path does not exist on the component props

**To Reproduce**
Add `path` prop to the <Lottie /> component

**Expected behavior**
Don't show me a type error

**Screenshots**

![Screenshot from 2022-07-05 11-50-02](https://user-images.githubusercontent.com/60601780/177356449-1b07734a-e64a-4b77-ba16-9

[2022-07-11 17:29] jordanlambrecht opened #67 "Help with playSegments"
I'm trying to have my lottie animation play the first 23 frames, and then skip them when it loops back and restarts and play frames 24-95 indefinitely. I'm dumb and can't seem to figure out how to make this work. Example [here](https://pixelbakery.com/about) of it implemented with react-lottie-player (I'm switching over because you're more active and cool)

Here's my code that isn't working:

[cod

[2022-07-13 14:55] MagnusHJensen opened #68 "autoplay prop on component is not respected"
**Describe the bug**
Autoplay on lottie component is not respected.

**To Reproduce**
Steps to reproduce the behavior:
1. <Lottie autoplay={false} />
2. See animation play on load.

**Expected behavior**
Component to respect autoplay prop.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: macOs
 - Browser chrome
 - Version 103 (chrome)

[2022-07-16 19:07] GhostyJade commented on #65
@irangarcia viewing [types declaration](https://github.com/Gamote/lottie-react/blob/main/src/types.ts) there's no "path" prop for the Lottie component (not even for the v3 branch). The type error you are seeing is generated by typescript and it's there by default.
I don't think this is an issue with lottie-react.

I think that you want to set the animation data to display, right? In that case, use

[2022-07-16 19:08] GhostyJade commented on #68
Can you provide a code example?

[2022-07-27 21:05] jordanlambrecht commented on #67
@Gamote Any ideas?

[2022-07-29 15:24] g1sbi opened #69 "Is the "chain" mode available for the interactivity hook?"

[2022-07-30 19:28] irangarcia commented on #65
Yep, the problem is that does not exist in the types declarations.

But the [lottie-web](https://github.com/airbnb/lottie-web#html) accepts two mutually exclusive params to load the animation:  `animationData` and `path`

I assume that in the v3 will be called [`src`](https://github.com/Gamote/lottie-react/blob/v3/src/%40types/types.ts#L63) that you can pass, what is now the `animationData` or `pa

[2022-07-31 05:28] Gamote commented on #69
/

[2022-08-08 17:16] jordanlambrecht commented on #67
@michax @mattvague @PatrickDesign Sorry for the pings, but this is pretty mission-critical for me

[2022-08-08 17:50] MagnusHJensen commented on #68
Doesn't seem to be an issue anymore, not sure what was going at back then! Thanks anyways :D

[2022-08-08 17:50] #68 closed

[2022-08-08 19:33] jordanlambrecht commented on #67
@PatrickDesign Ha, I probably need to separate those components o.O The animation will play just fine. Everything works with no errors. The only issue is the segments part. It simply does not listen to the input and plays the whole animation straight through each loop.

[2022-08-08 19:39] PatrickDesign commented on #67
Could you use the [onLoopComplete](https://lottiereact.com/#onloopcomplete) method to update your segment array to be the shortened one after the first loop? And use the `initialSegment` prop instead of `playSegments`.

Something like:

[code]

[2022-08-08 21:44] jordanlambrecht commented on #67
Like this? Because no dice if so =/

[code]

[2022-08-08 21:53] jordanlambrecht commented on #67
AHA! I got it!

[code]

[2022-09-04 21:11] zackdotcomputer opened #71 "Animation runs repeatedly in interactive mode with loop={false}"
**Describe the bug**
When set to not loop and play the animation once in a block, the expectation I have is that upon entering the block the animation will play once and then not repeat. Instead, the result is that the animation plays once and then replays again on each incremental interaction.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an animation with the props:
[code]
2. Scro

[2022-09-04 21:16] zackdotcomputer commented on #71
Relatedly, if one tries to circumvent this by taking a small section as your "play" section and then setting it as a "stop" section after the user leaves the section, it still doesn't work. If the user scrolls through the slice too quickly, it just jumps to the last frame:
[code]

[2022-09-07 13:53] leomacherla opened #72 "Is there any way to change the colour of the icon?"
As the title suggests, I would like to be able to change the colour of the animation dynamically. Is there any way to do this?

[2022-09-09 13:26] Ourselp commented on #71
Hey @zackdotcomputer

Did you find a solution for this at the end ?
I'm facing the same problem right now

[2022-09-11 13:25] zackdotcomputer commented on #71
No, sadly.

[2022-09-14 15:45] kb1995 commented on #33
Any updates to this? Lottie is the biggest package in our bundle and would love to see some way to improve this

[2022-09-18 00:42] Hamdysaad20 opened #73 "How to set a Speed for the Lottie ?"
hi ,
thank you for the amazing library . can you help me with this issue , i can't find a way to set the speed for this library

[2022-09-23 14:39] vndevil opened #74 "How to set className prop?"
Hi DEV,

I want to set className prop, but I don't know how to do it

[code]

[2022-09-23 15:54] GhostyJade commented on #74
Simply, the <Lottie /> component doesn't accept a className as a prop that isn't string type (makeStyles return a function hook, according to [MUI v4 legacy documentation](https://mui.com/system/styles/api/#returns-3).
In the project I'm developing using this library, I use Tailwind CSS v3. I've never tried MUI v5 but I think that something could be achieved with styled

[2022-09-23 15:59] GhostyJade commented on #73
I think you can try to get the lottieRef ref object from the component and call the setSpeed from there.

[2022-09-24 09:55] Mithrandiirr opened #75 "Cannot read properties of undefined (reading 'length')"
I am trying to set lotties from a CDN, while doing so, I get an error `Cannot` read properties of undefined (reading 'length')`
This is my code :
[code]
The `mission?.manuscript?.asset.url}` is not undefined !

[2022-09-26 17:16] AldenB0 commented on #69
I came here to ask the same question. I just attempted to implement an animation that I had built out a few months ago using the "chain" mode, and it appears that it doesn't work. I attempted a few workarounds but It doesn't seem like you can get the same effect while still using lottie-react. Would love to be proven wrong or have this feature added in the future. Animations are severely limited w

[2022-10-10 15:07] GhostyJade commented on #75
Hey. If your asset.url is a string it won't work. Currently, v2 doesn't support loading data by url/string, it will be implemented in v3 as discussed in #15

[2022-10-13 21:39] sedghi opened #76 "Animation Glitches"
Hi,
I need to show a loading indicator when my app is loading, however, the app load is a heavy task which makes the animation glitch as you see below. Is there any recommendation of how to fix this?

https://user-images.githubusercontent.com/7490180/195715458-566ed900-a432-4407-84cc-d7fd50d43347.mp4

I can confirm that the animation runs smoothly though on a lottie web player

Thanks

[2022-10-25 15:02] blurvene opened #77 "Incorrect type of "renderer" property of Lottie component"
**Describe the bug**
Passing `renderer` property with value `"canvas" `or `"html"` to `Lottie` component triggers type error

**To Reproduce**
Pass `renderer="canvas"` or `renderer="html"` to `Lottie` component

**Expected behavior**
Typescript error is not displayed, `renderer` property accepts `'svg' | 'canvas' | 'html'` values

**Screenshots**
<img width="963" alt="Screenshot 2022-10-25 at 17 5

[2022-11-10 12:12] DaphneChang commented on #73
I have the same question. How can I set the default speed of it instead of using the "setSpeed" function ?  The function makes the config become complicated.

[2022-11-10 13:15] GhostyJade commented on #73
@DaphneChang Currently (for what I've seen in the source code), is not possible to pass the speed value as a prop to the Lottie component...
What do u mean with "makes the config become complicated"?

[2022-11-10 13:21] GhostyJade commented on #76
@sedghi Have you tried to fetch your data using a service worker or something that doesn't block the main thread?

[2022-11-22 23:50] cpellet opened #78 "Error: <path> attribute d: Expected moveto path command ('M' or 'm')"
**Describe the bug**
Lottie animations do not display properly, console gives the following error: `Error: <path> attribute d: Expected moveto path command ('M' or 'm')`

**To Reproduce**
Steps to reproduce the behavior:
Attempt to display the linked lottie animation as follows:
`<Lottie autoplay loop animationData={Angry}  rendererSettings={{preserveAspectRatio: 'xMidYMid slice'}}/>`

**Expected

[2022-11-23 12:33] mSauvestre commented on #78
Same issue here. For some reason, I also only get the issue when pushing to prod (Vercel) but not on localhost:
https://mythic-trap.vercel.app/vault/eranog

Animation is missing elements because of this for me too.

[2022-11-23 14:08] cpellet commented on #78
I actually found a fix, this seems to be Vercel's issue, see here: https://github.com/vercel/next.js/issues/42801. I will close this issue here.

[2022-11-23 14:08] #78 closed

[2022-11-23 19:30] dilan-dio4 commented on #33
I manually modified this project to use just the light version.
Find it here: https://github.com/dilan-dio4/lottie-light-react

[2022-11-24 22:30] denvradiy opened #79 "Not working with next js"
**Describe the bug**
I use this package with nextjs. Lottie animation works locally but doesn't work on production build, it's not showing and throwing tons or the same errors :

<img width="1728" alt="Screenshot 2022-11-25 at 00 29 29" src="https://user-images.githubusercontent.com/49561056/203870422-7b05b59a-486b-43a0-94bc-13d4b2ad42c0.png">

next version 13, lottie-react version 2.3.1

How can

[2022-11-25 19:06] pbozyk commented on #79
I have the same problem. It works when next is in development mode, but not after a production build. If you disable minimizing your webpack it will work. This is not a solution, just my observation :(

[2022-11-25 20:33] Gamote commented on #79
@denvradiy @pbozyk Hello, please create a MRE (minimal reproducible example) and I will look into it.

[2022-11-25 21:47] pbozyk commented on #79
Nothing specjal - standard configuration of NextJs with TaiwindCSS.  I think its a Next13 problem (TURBOPack).

    "next": "latest",
    "next-compose-plugins": "^2.2.1",
    "react": "^18.2.0",
    "react-dom": "^18.2.0"

[2022-11-26 10:56] Gamote commented on #79
It will greatly help and speed up the process if you guys create a MRE repo that I can use to recreate the issue. Thank you for your time.

[2022-11-26 20:45] denvradiy commented on #79
I was creating a MRE repo and realised that lottie animation works with "next": "13.0.5", but my other project where I was using lottie-react has "next": "13.0.4" and it's not working there. @Gamote try  "next": "13.0.5". Looks like something was fixed

[2022-11-26 20:47] denvradiy commented on #79
https://github.com/denvradiy/lottie-error
@pbozyk here is MRE

[2022-11-27 14:00] Gamote commented on #79
@denvradiy good to hear that you have found a fix. And thank you for taking the time to create the MRE.

@pbozyk can you try to see if `next@13.0.5` is fixing your issue as well?